page-favory {

  ion-navbar {
    .tamere {
      display: flex;
      justify-content: center;
    }

    img {
      align-items: center;
      display: flex;
    }
  }

  text-align: center;
  padding: 150px;

  h1 {
    font-size: 50px;
  }

  body {
    font: 20px Helvetica, sans-serif;
    color: #333;
  }

  display: block;
  text-align: left;
  width: 650px;
  margin: 0 auto;

  a {
    color: #dc8100;
    text-decoration: none;
  }

  a:hover {
    color: #333;
    text-decoration: none;
  }
}