page-search {
  ion-navbar {
    .tamere {
      display: flex;
      justify-content: center;
    }

    img {
      align-items: center;
      display: flex;
    }
  }

  #map{
    height: 100%;
    
  }
}