page-search {
  ion-navbar {
    .tamere {
      display: flex;
      justify-content: center;
    }

    img {
      align-items: center;
      display: flex;
    }
  }

  #map {
    height: 100%;
    position: relative;
  }

  .ion-searchbar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 6000;
    margin: auto;

    .searchbar-input-container {
      margin: auto;
    }

    .searchbar-input {
      width: 100%;
      border-radius: 40px;
    }
  }

}
