discovery {
  width: auto;

  .container {

    ion-title {
      p {

        text-align: center;
        color: #3EBDC6;
        text-decoration: underline;
      }
    }

    width: 100%;

    ion-card {
      height: 150px;
      border-radius: 0.7em !important;
      justify-content: center;

      .black{
        width: 388px;
        height: 151px;
        position: absolute;
        background: linear-gradient(rgba(255, 255, 255, 0.0) ,rgba(0, 0, 0, 0.9) ) 0%;
        top: 331px;
        border-radius: 0.7em;
      }

      ion-card-content {
        top: 420px;
        left: 5px;
        position: absolute;

        p:first-child {
          font-size: 15px;
          font-weight: bold;

          color: white;
        }
        p{
          font-size: 10px;

          color: white;
        }
      }


      .title {
        display: flex;
        flex-direction: column;
      }
    }
  }
}