<ion-header>
  <ion-navbar color="customColor">
    <div class="tamere">
      <img src="../../assets/imgs/Logo2.png" height="40px" />
    </div>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="categories">
    <div class="row first-row">
      <div class="col">
        <ion-card class="filter-card" (click)="test(0)">
          <div class="title">
            <ion-card-header>
              <img class="icon" src="../../assets/imgs/restaurant.png"/>
            </ion-card-header>
          </div>
          <ion-card-content>
            <p>Restaurant</p>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col">
        <ion-card class="filter-card" (click)="test(1)">
          <div class="title">
            <ion-card-header>   
              <img class="icon" src="../../assets/imgs/event.png"/>
            </ion-card-header>
          </div>
          <ion-card-content>
            <p>Evènement</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="row second-row">
      <div class="col">
        <ion-card class="filter-card">
          <div class="title">
            <ion-card-header>
              <img class="icon" src="../../assets/imgs/place.png"/>
            </ion-card-header>
          </div>
          <ion-card-content>
            <p>Lieu&nbsp;culturel</p>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col">
        <ion-card class="filter-card">
          <div class="title">
            <ion-card-header>
              <img class="icon" src="../../assets/imgs/activity.png"/>
            </ion-card-header>
          </div>
          <ion-card-content>
            <p>Activités</p>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col">
        <ion-card class="filter-card">
          <div class="title">
            <ion-card-header>
              <img class="icon" src="../../assets/imgs/local.png"/>
            </ion-card-header>
          </div>
          <ion-card-content>
            <p>Local</p>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="col">
        <ion-card class="filter-card">
          <div class="title">
            <ion-card-header>
              <img class="icon" src="../../assets/imgs/tops.png"/>
            </ion-card-header>
          </div>
          <ion-card-content>
            <p>Tops</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <discovery *ngIf="discovery" [place]="discovery"></discovery>
  <div class="placeList">
    <div class="entete">
      <span><b>Nouveautés</b></span>
      <ion-item>
        <ion-label>Catégories</ion-label>
        <ion-select [(ngModel)]="categorieSelected" (change)="refreshFilter()">
          <ion-option *ngFor="let categorie of categories; let i = index">{{categorie.name}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div ion-item *ngFor="let place of placeList; let i = index" icon-start>
      <page-single-place [place]="place" [index]="i"></page-single-place>
    </div>
  </div>
</ion-content>